@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --tamanho-padrao: 10px;
  --tamanho1: 50px;
  --tamanho2: 100px;
  --tamanho3: 150px;
  --tamanho4: 200px;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -0px;
}

.footer,
.push {
  height: 0px;
}

@keyframes heightAnimation {
  from {
    height: var(--tamanho);
  }
  to {
    height: var(--tamanho-padrao);
  }
}

.bar-vertical {
  display: flex;
  align-self: flex-end;
  width: 30px;
  height: 0px;
  animation: heightAnimation 2s ease infinite alternate;
}

.bar-vertical[data-value="100"] {
  background-color: #fee355;
  --tamanho: var(--tamanho1);
}
.bar-vertical[data-value="200"] {
  background-color: #81ff9c;
  --tamanho: var(--tamanho2);
}
.bar-vertical[data-value="300"] {
  background-color: #ff8181;
  --tamanho: var(--tamanho3);
}
.bar-vertical[data-value="400"] {
  background-color: #20cfc6;
  --tamanho: var(--tamanho4);
}

@keyframes widthAnimation {
  from {
    width: var(--tamanho);
  }
  to {
    width: var(--tamanho-padrao);
  }
}

.bar-horizontal {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 100%;
  height: 20px;
  animation: widthAnimation 2s ease infinite alternate;
}

.bar-horizontal[data-label="Income"] {
  background-color: #fee355;
  --tamanho: 10px;
  --tamanho-padrao: 80%;
}
.bar-horizontal[data-label="Utilities"] {
  background-color: #ff8181;
  --tamanho: 67%;
  --tamanho-padrao: 10px;
}
.bar-horizontal[data-label="Revenue"] {
  background-color: #20cfc6;
  --tamanho: 10px;
  --tamanho-padrao: 40%;
}

.fora-2 {
  width: 70%;
  height: 70%;
  margin-top: -420px;
  margin-left: 80px;
  z-index: 0;
}
.fora-1 {
  width: 30rem;
  height: 30rem;
  z-index: 0;
}
.circle-container {
  position: relative;
  width: 100%;
  height: 100%;
  animation: rotateAnimation 9s linear infinite;
  z-index: 0;
}

.circle-container2 {
  position: relative;
  width: 100%;
  height: 100%;
  animation: rotateAnimation2 9s linear infinite;
  z-index: 0;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 0;
}

.circle2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 0;
}

.dot {
  position: relative;
  z-index: 0;
  width: 40px;
  height: 40px;
  background-color: #ff8181;
  border-radius: 50%;
  top: 60%;
  left: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  z-index: 0;
}

.dot3 {
  position: relative;
  z-index: 0;
  width: 40px;
  height: 40px;
  background-color: #81fe9c;
  border-radius: 50%;
  top: 60%;
  left: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  z-index: 0;
}

.dot2 {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #46d9d1;
  border-radius: 50%;
  top: 60%;
  right: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  z-index: 0;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAnimation2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* donut */
.chart-skills {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  position: relative;
  width: 350px;
  height: 175px;
  overflow: hidden;
}

.chart-skills *,
.chart-skills::before {
  box-sizing: border-box;
}

.chart-skills::before,
.chart-skills::after {
  position: absolute;
}

.chart-skills::before {
  content: "";
  width: inherit;
  height: inherit;
  border: 45px solid rgba(211, 211, 211, 0.3);
  border-bottom: none;
  border-top-left-radius: 175px;
  border-top-right-radius: 175px;
}

.chart-skills::after {
  content: "88.7%";
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: 32px;
  font-weight: bold;
  color: #565656;
}

.chart-skills li {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: inherit;
  border: 45px solid;
  border-top: none;
  border-bottom-left-radius: 175px;
  border-bottom-right-radius: 175px;
  transform-origin: 50% 0;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.chart-skills li:nth-child(1) {
  z-index: 3;
  border-color: #25dad0;
  animation: rotate-one 3s 0.1s ease infinite alternate;
}

@keyframes rotate-one {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(150deg);
  }
}

.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  border-radius: 100%;
}
p.center {
  background: white;
  position: absolute;
  text-align: center;
  font-size: 28px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 35px;
  padding: 15% 0 0;
}

.portion-block {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
}
.circle {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
}

#part1 {
  transform: rotate(0deg);
}

#part1 .circle {
  background-color: #FF6B6B;
  animation: first 1s 1 forwards;
}

#part2 {
  transform: rotate(100deg);
}
#part2 .circle {
  background-color: #20B2AA;
  animation: second 1s 1 forwards 1s;
}
#part3 {
  transform: rotate(250deg);
}
#part3 .circle {
  background-color: #4DECE3;
  animation: third 0.5s 1 forwards 2s;
}

/* Animation */
@keyframes first {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(100deg);
  }
}

@keyframes second {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(150deg);
  }
}

@keyframes third {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(111deg);
  }
}
